#MomentComponent {
  .moment-container {
    width: 15rem;
    height: 15rem;
    min-height: 15rem;
    max-height: 20rem;
    background-color: white;
    border: black 2px solid;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    -webkit-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    -moz-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
  }
  .moment-image-container {
    width: 100%;
    height: 85%;
    border: black 2px solid;
    background-color: lightgray;
  }

  .moment-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .moment-name {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.76vw;
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    .moment-container {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .moment-name {
      font-size: 1.3vw;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    .moment-container {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .moment-name {
      font-size: 2.5vw;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .moment-container {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .moment-name {
      font-size: 2.3vw;
    }
  }

  @media all and (max-width: 480px) {
    .moment-container {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      width: 8rem;
      height: 8rem;
      min-height: 0rem;
    }

    .moment-name {
      padding-top: 8%;
      font-size: 2.3vw;
    }
  }
}
