.card{
  &.Yellow{
    outline:4px solid rgb(255, 233, 36);
  }
}

.card-container{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 5px;

  &.A{
    outline: 4px solid rgb(64, 255, 64);
  }
  &.B{
    outline:4px solid rgb(255, 251, 3);
  }
  &.C{
    outline:4px solid rgb(255, 167, 3);
  }
  &.D{
    outline:4px solid rgb(255, 95, 3);
  }
  &.F{
    outline:4px solid rgb(255, 3, 3);
  }
}

.grade{
  display: flex;
  position: absolute;
  z-index: 100;
  transform: rotate(-20deg);
  margin-top: -22px;
  margin-left:-5px;
  font-size: 64px;
  font-weight: bold;
  &.A{
    color:rgb(64, 255, 64);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  &.B{
    color:rgb(255, 251, 3);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  &.C{
    color:rgb(255, 167, 3);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  &.D{
    color:rgb(255, 95, 3);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  &.F{
    color:rgb(255, 3, 3);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

.footer {
    display: flex;
    z-index:10;
    flex-direction: column;
    padding: 2.5%;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    min-width: 100%;
    min-height: 25%;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(0.5vw);
  }

  .time{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color:black;
    background-color:rgb(126, 255, 109);
    border-radius: 8px;
    font-family: Raleway, sans-serif;
    width: fit-content;
    padding: 0px .5rem;
    margin-top:-15px;
    margin-left:-10px;
    font-size: 16px;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    -moz-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }