.background {
  z-index: 2;
  place-items: center;
  background-image: url("../../assets/images/iceberg-long.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.iceberg-layers {
  display: grid;
  grid-template-rows: repeat(12, 465px);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.column-item {
  display: grid;
  grid-template-columns: repeat(10, 120px);
}

.rows {
  display: grid;
  grid-template-rows: repeat(5, 86px);
  margin-left: 16%;
}

.layer {
  border-bottom: 5px solid red;
  width: 100%;
}
