.iceberg-layers {
  display: grid;
  color: white;
}

.iceberg-button {
  transform: rotate(-4deg);
  background-color: #cff0ff;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.555);
  font-size: 0.75vw;
  font-weight: 600;
  font-family: monospace;
}

.item {
  height: 5vh;
  width: 7vw;
  justify-self: center;
  align-self: center;
  grid-row-start: var(--row);
  grid-column-start: var(--column);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .iceberg-button {
    transform: rotate(-4deg);
    background-color: #cff0ff;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.555);
    font-size: 1.5vw;
    font-weight: 600;
    font-family: monospace;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .iceberg-button {
    transform: rotate(-4deg);
    background-color: #cff0ff;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.555);
    font-size: 1.75vw;
    font-weight: 600;
    font-family: monospace;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .iceberg-button {
    transform: rotate(-4deg);
    background-color: #cff0ff;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.555);
    font-size: 2vw;
    font-weight: 600;
    font-family: monospace;
  }
}

@media all and (max-width: 480px) {
  .iceberg-button {
    transform: rotate(-4deg);
    background-color: #cff0ff;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.555);
    font-size: 3vw;
    font-weight: 600;
    font-family: monospace;
  }
}
