.iceberg-layers {
  display: grid;
  color: white;
}

.iceberg-button {
  background-color: #cff0ff;
  border-radius: 7px;
  box-shadow: 5px 3px 3px 2px rgba(0, 0, 0, 0.555);
  -webkit-box-shadow: 5px 3px 3px 2px rgba(0, 0, 0, 0.555);
  -moz-box-shadow: 5px 3px 3px 2px rgba(0, 0, 0, 0.555);
  font-size: 0.75vw;
  font-weight: 600;
  font-family: monospace;
}

.iceberg-button:hover {
  transform: scale(1.25) rotate(-4deg);
  transition: 0.2s;
}

.iceberg-button:not(:hover) {
  transition: 0.2s;
}

.item {
  height: 5vh;
  width: 7vw;
  justify-self: center;
  align-self: center;
  grid-row-start: var(--row);
  grid-column-start: var(--column);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .iceberg-button {
    background-color: #cff0ff;
    border-radius: 3px;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: monospace;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .iceberg-button {
    font-size: 1.75vw;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .iceberg-button {
    font-size: 2vw;
  }
}

@media all and (max-width: 480px) {
  .iceberg-button {
    border-radius: 3px;
    font-size: 3vw;
  }
}
