.gradient-background {
  background-image: url("../../assets/images/iceberg-background.png");
  height: 5812px;
}

.page-layout {
  display: grid;
  grid-template:
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    / 15% 1fr 15%;
}

.iceberg-image {
  background-image: url("../../assets/images/iceberg-long.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: image;
}

.layer {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(10, 1fr);
  column-gap: 15px;
  width: 100%;
  border-bottom: 5px solid red;
  height: 484px;
  justify-items: center;
}

.item {
  justify-self: center;
  align-self: center;
  grid-row-start: var(--row);
  grid-column-start: var(--column);
}
