.gradient-background {
  background-image: url("../../assets/images/iceberg-background.png");
  height: 5812px;
}

.page-layout {
  display: grid;
  grid-template:
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    ". image ." 1fr
    / 24% 1fr 24%;
  height: inherit;
}

.iceberg-image {
  background-image: url("../../assets/images/iceberg-long.png");
  border: 3px solid black;
  grid-area: image;
  height: inherit;
}

.layer {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(10, 1fr);
  width: 100%;
  border-bottom: 5px solid red;
  height: 484px;
}

.item {
  justify-self: center;
  align-self: center;
  grid-row-start: var(--row);
  grid-column-start: var(--column);
}
