#IcebergPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding-top:2rem;
  background: linear-gradient(
    0deg,
    rgba(113, 0, 0, 1) 0%,
    rgba(20, 5, 5, 1) 10%,
    rgba(0, 0, 0, 1) 21%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 20, 126, 1) 50%,
    rgb(21, 74, 158) 75%,
    rgb(66, 138, 255) 97%,
    rgb(241, 247, 255) 100%
  );

  .section-header{
    display: flex;
    width: fit-content;
    height: 3.5rem;
    align-items: center;
    font-size: 1.75vw;
    padding: 1.75rem 3rem 1.75rem 1.75rem;
    color: Black;
    background: linear-gradient(to right, #ffffff75, #ffffff23);
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.555);
  }

  .section{
    display:flex;
    gap:1.5rem;
    padding:1.5rem;
    flex-wrap: wrap;
  }

  .iceberg-button {
    background: linear-gradient(90deg, #ffe27d 0%, #64e3ff 20%, #9192ff 60%);
    background-size: 200% 100%;
    border: none;
    border-radius: 6px;
    color: #170f1e;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 670;
    line-height: 24px;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    transition: 0.2s;
  }

  .iceberg-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }

  .iceberg-body-container {
    display: flex;
    width: 100%;
    height: 98%;
    justify-content: center;
  }

  .iceberg-image {
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 0;
  }

  .iceberg-layers {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 55%;
    height: 100%;
    gap: 3vh;
  }

  .layer {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(10, 1fr);
    justify-items: center;
    gap: 2.5vh;
  }

  .layer-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .layer-label {
    font-size: 3.25vh;
    font-family: monospace;
  }
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    .header-icon {
      display: none;
    }

    .layer {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(9, 1fr);
      justify-items: center;
      row-gap: 3vh;
    }

    .iceberg-layers {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      gap: 10vh;
    }

    .iceberg-image {
      position: absolute;
      background-position: center;
      width: 100vw;
      height: 563vh;
      z-index: 0;
    }

    .layer-label {
      display: none;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    .header-icon {
      display: none;
    }
    .layer {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(9, 1fr);
      justify-items: center;
      row-gap: 3vh;
    }

    .iceberg-layers {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      gap: 10vh;
    }

    .iceberg-image {
      position: absolute;
      background-position: center;
      width: 100vw;
      height: 563vh;
      z-index: 0;
    }

    .layer-label {
      display: none;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .header-icon {
      display: none;
    }

    .layer {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(9, 1fr);
      justify-items: center;
      row-gap: 3vh;
    }

    .iceberg-layers {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      gap: 10vh;
    }

    .iceberg-image {
      background-position: center;
      width: 100vw;
      height: 563vh;
      z-index: 0;
    }

    .layer-label {
      display: none;
    }

    .iceberg-button {
      font-size: 3vw;
      line-height: 2vh;
    }
  }

  @media all and (max-width: 480px) {
    .header-icon {
      display: none;
    }

    .layer {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(9, 1fr);
      justify-items: center;
      row-gap: 3vh;
    }

    .iceberg-layers {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      gap: 10vh;
    }

    .iceberg-image {
      position: absolute;
      width: 100%;
      height: 565vh;
      z-index: 0;
    }

    .layer-label {
      display: unset;
    }

    .iceberg-button {
      font-size: 3vw;
      line-height: 2vh;
    }
  }
}
