#Modal{
  display: flex;
  height:100vh;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;

  .no-timestamps-available{
    font-style: italic;
  }
  
  .title-section{
    display: flex;
    gap:1rem;
    padding-bottom:.5rem;
  }

  .autoplay-button{
    display: flex;
    cursor: pointer;
    font-family:monospace;
    border: black 1px solid;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: 14px;
    color:black;

    &.green{
      background-color:rgb(124, 255, 124);
    }

    &.red{
      background-color:white;
    }
  }

  .modal-background{
    position: absolute;
    background-color: rgb(205, 239, 255);
    width:fit-content;
    max-width:90vw;
    height:70vh;
    padding: .5rem 1.25rem;
    border-radius: 10px;
    z-index: 101;
    box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
  }

  .modal-container {
    display: flex;
    width:100%;
    height:100%;
    justify-content: space-between;
    border-radius: 10px;
    gap: 2rem;
  }

  .modal-video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .video-title{
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 43ch;
    text-overflow: ellipsis;
  }

  .modal-close-button {
    position: absolute;
    top:0;
    right:22px;
    font-size: 36px;
    cursor: pointer;
  }

  .content-container{
    display: flex;
    flex-direction: column;
    width:60%;
    gap: 1rem;
  }

  .modal-data{
    display: flex;
    flex-direction: column;
    overflow:auto;
    gap:1rem;
    padding:0 1rem 1rem .5rem;
    height:85%;
  }
  
  .modal-title {
    display: flex;
    font-size: 32px;
    border-bottom: black solid 3px;
    width: 100%;
  }
  .modal-header{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    max-height: 50%;
    flex-grow: 1;
    overflow: auto;
  }

  .modal-description{
    display: flex;
    font-family: monospace;
    font-size:14px;
    flex-grow: 1;
    overflow: auto;
  }

  .related-links {
    font-size: 24px;
  }
  
  .related-links-date {
    display: flex;
    min-width: fit-content;
    justify-content: right;
    justify-content: center;
    border-radius: 5px;
    border:1px solid rgba(160, 154, 255, 0.438);
    background-color: #CDD0FF;
    padding:0 5px 0 5px;
    font-style: italic;
  }
  
  .related-links-episode {
    display: flex;
    min-width: fit-content;
    height:fit-content;
    justify-content: right;
    justify-content: center;
    padding: 0 .2rem;
    border-radius: 5px;
    border:1px solid rgba(67, 133, 67, 0.438);
    background-color: #BFFCC7;
    font-size: 10px;
  }
  
  .modal-links-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .related-links-hyperlink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:#217CFD;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link-row {
    display: flex;
    flex-direction: row;
    outline:1px solid rgba(53, 53, 53, 0.397);
    border-radius: 5px;
    padding:.25rem;
    background-color:rgba(255, 255, 255, .7);
    gap: 0.5rem;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .selected {
    @extend .link-row;
    background-color: rgba(255, 251, 0, 0.753);
  }
  
  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
  }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
    .modal-container {
      width: 100vw;
    }
  }
  
  @media all and (max-width: 480px) {
    .modal-container {
      width: 100%;
    }
    .transparent-background {
      width: 98vw;
      justify-content: start;
    }
  }
}

