.new-modal-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45vw;
  max-height: 70%;
  padding: 2rem;
  gap: 2rem;
  border: 3px black solid;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.new-modal-close-button {
  display: flex;
  position: relative;
  font-size: 30px;
  width: 3%;
  border-bottom: black solid 3px;
  cursor: pointer;
}

.new-modal-title {
  border-bottom: black solid 3px;
  width: 100%;
}

.new-modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

.new-modal-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.related-links {
  font-size: 24px;
  border-bottom: 2px solid black;
}

.related-links-date {
  display: flex;
  min-width: fit-content;
}

.new-modal-links-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link-container {
  display: flex;
  gap: 0.5rem;
  color: black;
}

.transparent-background {
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .new-modal-container {
    width: 100vw;
  }
}

@media all and (max-width: 480px) {
  .new-modal-container {
    width: 100%;
  }
  .transparent-background {
    width: 98vw;
    justify-content: start;
  }
}
