#MomentAndSoundbites_Modal{
  display: flex;
  height:100vh;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  /* Ensure this modal overlay sits above all other elements */
  z-index: 99999;

  .no-timestamps-available{
    display: flex;
    flex-grow: 1;
    font-style: italic;
    max-height: fit-content;
  }
  
  .title-section{
    display: flex;
    gap:1rem;
    padding-bottom:.5rem;
    justify-content: start;
    align-items: center;
  }

  .autoplay-slider{
    display: flex;
    margin-top:.25rem;
    height:1.5rem;
    width:5rem;
    align-items: center;
    cursor: pointer;
  }
  
  .autoplay-background{
    display: flex;
    width:inherit;
    height:inherit;
    position: fixed;
    gap:1rem;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid black;
    border-radius: 5px;

    &.green{
      transition: ease-in;
      animation: turnOn .2s alternate 1;
      background-color:rgb(139, 255, 139);
    }

    &.red{
      transition: ease-in;
      animation: turnOff .2s alternate 1;
      background-color:rgb(255, 150, 150);
    }

    @keyframes turnOn {
      from {background-color:rgb(255, 150, 150);}
      to{background-color:rgb(139, 255, 139);}
    }
  
    @keyframes turnOff {
      from {background-color:rgb(139, 255, 139);}
      to{background-color:rgb(255, 150, 150);}
    }
  }

  .autoplay-button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
    font-family:monospace;
    width:2.5rem;
    height:125%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: 12px;
    color:black;
    border: 1px solid black;
    line-height:1;
    text-align: center;
    cursor: pointer;

    &.on{
      transition:ease-in;
      animation: moveOn .2s alternate 1;
      margin-left:2.5rem;
    }

    &.off{
      transition:ease-out;
      animation: moveOff .2s alternate 1;
      margin-left:0rem;
    }

    @keyframes moveOn {
      from {margin-left:0rem;}
      to{ margin-left: 2.5rem;}
    }
  
    @keyframes moveOff {
      from {margin-left: 2.5rem;}
      to{ margin-left: 0rem;}
    }
  }

  .modal-background{
    position: absolute;
    background-color: rgb(205, 239, 255);
    width:fit-content;
    max-width:90vw;
    height:70vh;
    padding: .5rem 1.25rem;
    border-radius: 10px;
    /* Keep the modal card above the overlay and other UI elements */
    z-index: 100000;
    box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
  }

  .category-buttons-section{
    display: flex;
    width:fit-content;
    gap:10px;
  }

  .category-button{
    display: flex;
    width: 10rem;
    height:1.8rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.856);
    // margin-top:-1.75rem;
    border-radius: 5px;
    border: 1.5px solid black;
    // outline: 2px solid black;
    // box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.555);
    font-weight: 600;
    cursor: pointer;
  }

  .modal-container {
    display: flex;
    width:100%;
    height:100%;
    justify-content: space-between;
    border-radius: 10px;
    gap: 2rem;
  }

  .modal-video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .video-title{
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 43ch;
    text-overflow: ellipsis;
  }

  .modal-close-button {
    position: absolute;
    top:0;
    right:22px;
    font-size: 36px;
    cursor: pointer;
  }

  .content-container{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    height:100%;
    min-width: 25rem;
    max-width: 35rem;
  }

  .modal-data{
    display: flex;
    flex-direction: column;
    overflow:auto;
    gap:1rem;
    width:100%;
    height:95%;
  }

  .data-section{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width:100%;
    padding-right:5px;
  }

  .modal-links-container {
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 0.5rem;
    overflow: hidden;
    padding-right: 1rem;
    padding-bottom:1rem;
    padding-top:.2rem;
  }

  .modal-links-container-soundbites{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width:100%;
    gap: 0.5rem;
    padding-right: 1rem;
    padding-bottom:1rem;
    padding-top:.2rem;
  }

  .modal-links-container-moments{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 0.5rem;
    overflow: hidden;
    padding-right: 1rem;
    padding-bottom:1rem;
    padding-top:.2rem;
  }
  
  .selected-button{
    background-color: rgba(255, 251, 0, 0.753);
  }

  .modal-title {
    display: flex;
    min-width:30rem;
    font-size: 32px;
    border-bottom: black solid 3px;
    width: 100%;
  }
  .modal-header{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    max-height: 35%;
    flex-grow: 1;
    overflow: auto;
    gap:10px;
  }

  .timestamp-notice{
    display: flex;
    font-style:italic;
    width: 95%;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .modal-description{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size:14px;
    flex-grow: 1;
    overflow: auto;
    width:100%;
  }

  .related-links {
    font-size: 24px;
  }
  
  .related-links-date {
    display: flex;
    min-width: fit-content;
    justify-content: right;
    justify-content: center;
    border-radius: 5px;
    border:1px solid rgba(160, 154, 255, 0.438);
    background-color: #CDD0FF;
    padding:0 5px 0 5px;
    font-style: italic;
  }
  
  .related-links-episode {
    display: flex;
    min-width: fit-content;
    height:fit-content;
    justify-content: right;
    justify-content: center;
    padding: 0 .2rem;
    border-radius: 5px;
    border:1px solid rgba(67, 133, 67, 0.438);
    background-color: #BFFCC7;
    font-size: 10px;
  }
  
  .related-links-hyperlink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:#217CFD;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link-row {
    display: flex;
    flex-direction: row;
    min-width: 30rem;
    border:1px solid rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    padding:.25rem;
    background-color:rgba(255, 255, 255, .7);
    gap: 0.5rem;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .selected {
    @extend .link-row;
    background-color: rgba(255, 251, 0, 0.753);
  }
  
  @media all and (min-width: 1024px) and (max-width: 1400) {
    .data-section{
      flex-direction: column;      
      flex-grow:0;
    }
    .modal-video-container{
      align-items: center;
    }
    .modal-header{
      max-height:fit-content;
    }
    .modal-description{
      display: flex;
      flex-grow: 0;
    }

    .modal-container {
      flex-direction: column;
      width: 100%;
      overflow:auto;
    }
    
    .modal-background{
      position: absolute;
      background-color: rgb(205, 239, 255);
      width:fit-content;
      overflow:auto;
    }

    .modal-data{
      overflow:hidden;
      height:fit-content;
    }

    .modal-links-container{
      flex-grow:0;
      overflow: hidden;
      height:fit-content;
    }

    .modal-links-container-moments{
      overflow: hidden;
      flex-grow: 0;
      max-height: fit-content;
    }

    .content-container{
      height:fit-content;
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .data-section{
      flex-direction: column;      
      flex-grow:0;
    }
    .modal-video-container{
      align-items: center;
    }
    .modal-header{
      max-height:fit-content;
    }
    .modal-description{
      display: flex;
      flex-grow: 0;
    }

    .modal-container {
      flex-direction: column;
      width: 100%;
      overflow:auto;
    }
    
    .modal-background{
      position: absolute;
      background-color: rgb(205, 239, 255);
      width:fit-content;
      overflow:auto;
    }

    .modal-data{
      overflow:hidden;
      height:fit-content;
    }

    .modal-links-container{
      flex-grow:0;
      overflow: hidden;
      height:fit-content;
    }

    .modal-links-container-moments{
      overflow: hidden;
      flex-grow: 0;
      max-height: fit-content;
    }

    .content-container{
      height:fit-content;
    }

  }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
    .data-section{
      flex-direction: column;      
      flex-grow:0;
    }
    .modal-video-container{
      align-items: center;
    }
    .modal-header{
      max-height:fit-content;
    }
    .modal-description{
      display: flex;
      flex-grow: 0;
    }

    .modal-container {
      flex-direction: column;
      width: 100%;
      overflow:auto;
    }
    
    .modal-background{
      position: absolute;
      background-color: rgb(205, 239, 255);
      width:fit-content;
      overflow:auto;
    }

    .modal-data{
      overflow:hidden;
      height:fit-content;
    }

    .modal-links-container{
      flex-grow:0;
      overflow: hidden;
      height:fit-content;
    }

    .modal-links-container-moments{
      overflow: hidden;
      flex-grow: 0;
      max-height: fit-content;
    }

    .content-container{
      height:fit-content;
    }
  }
  
  @media all and (max-width: 480px) {
        .data-section{
      flex-direction: column;      
      flex-grow:0;
    }
    .modal-video-container{
      align-items: center;
    }
    .modal-header{
      max-height:fit-content;
    }
    .modal-description{
      display: flex;
      flex-grow: 0;
    }

    .modal-container {
      flex-direction: column;
      width: 100%;
      overflow:auto;
    }
    
    .modal-background{
      position: absolute;
      background-color: rgb(205, 239, 255);
      width:fit-content;
      overflow:auto;
    }

    .modal-data{
      overflow:auto;
    }

    .modal-links-container{
      overflow: auto;
    }

    .modal-links-container-moments{
      overflow: hidden;
      flex-grow: 0;
      max-height: fit-content;
    }

    .content-container{
      height:fit-content;
    }
  }
}

