#CustomCard1 {
  display: flex;
  width: 15rem;
  height: 19em;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .custom-card-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    justify-content: end;
  }

  .custom-card-container:hover {
    transform: scale(1.25) rotate(-5deg);
    transition: 0.2s;
  }

  .custom-card-container:not(:hover) {
    transition: 0.2s;
  }

  .comingsoon:hover {
    transform: scale(0.9) rotate(2deg);
    transition: 0.5;
  }

  .custom-card-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border: 3px white solid;
    border-radius: 2rem;
    -webkit-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    -moz-box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.555);
  }

  .custom-card-footer {
    display: flex;
    position: absolute;
    width: inherit;
    height: 5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .custom-card-footer-title {
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.75px;
    -webkit-text-stroke-color: black;
    text-shadow: -0px 0px 0 #000, 4px 3px 0 #000000, -0px 0px 0 #000,
      0px 0px 0 #000;
  }

  .coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 5%;
    position: absolute;
    background-color: rgba(31, 0, 0, 0.685);
    transform: rotate(-5deg);
    z-index: 1;
  }

  .coming-soon-text {
    color: white;
    font-size: 2rem;
    font-family: monospace;
    font-style: italic;
  }

  .grayscale {
    filter: grayscale(1);
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    width: 12rem;
    height: 16em;

    .custom-card-footer-title {
      font-size: 3rem;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2.75px;
      -webkit-text-stroke-color: black;
      text-shadow: -0px 0px 0 #000, 2px 2px 0 #000000, -0px 0px 0 #000,
        0px 0px 0 #000;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    width: 6rem;
    height: 11rem;
    margin-left: -3rem;

    .custom-card-footer-title {
      font-size: 3rem;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2.75px;
      -webkit-text-stroke-color: black;
      text-shadow: -0px 0px 0 #000, 2px 2px 0 #000000, -0px 0px 0 #000,
        0px 0px 0 #000;
    }
    .custom-card-image {
      border-radius: 1rem;
    }

    .coming-soon-text {
      font-size: 1rem;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .coming-soon {
      width: 60%;
    }

    .custom-card-image {
      border-radius: 1rem;
    }

    .coming-soon-text {
      font-size: 1.5rem;
    }
  }

  @media all and (max-width: 480px) {
    .coming-soon {
      width: 60%;
    }

    .custom-card-image {
      border-radius: 1rem;
    }

    .coming-soon-text {
      font-size: 1.5rem;
    }
  }
}
