.custom-button-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.custom-button {
  display: flex;
  height: 125%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  justify-content: center;
  align-items: center;
  border: 0.1vw solid black;
  border-radius: 1vw;
  cursor: pointer;
  margin-right: 3rem;
  flex-shrink: 1;
}

.custom-button-text {
  display: flex;
  font-size: 2.5vw;
  color: black;
  font-family: "Impact";
}
