#SubHeader {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  padding: 1rem 5rem;
  align-items: center;

  .search-bar {
    height: 2rem;
  }

  .subheader-left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .sort-buttons {
    display: flex;
    gap: 3rem;
  }

  .subheader-right {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .submit-button {
    width: fit-content;
    min-width: 10%;
    max-width: 80%;
    background-color: rgb(83, 83, 83);
    color: white;
    font-size: 1vw;
    font-weight: 600;
    transform: rotate(-2deg);
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    .submit-button {
      font-size: 1.5vw;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    .submit-button {
      font-size: 2vw;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .submit-button {
      font-size: 2.5vw;
      transform: rotate(0deg);
    }
  }

  @media all and (max-width: 480px) {
    padding: 1rem 1.5rem;

    .subheader-left {
      flex-direction: column;
      gap: 0.5rem;
    }

    .sort-buttons {
      gap: 0.5rem;
    }

    .submit-button {
      font-size: 3vw;
      transform: rotate(0deg);
    }
  }
}
