#DanComponent {
  a {
    text-decoration: none;
    color: black;
  }

  .submit-button {
    width: fit-content;
    min-width: 5%;
    max-width: 80%;
    padding: 0.5rem;
    background-color: rgb(83, 83, 83);
    color: white;
    font-size: 1vw;
    font-weight: 600;
    transform: rotate(-2deg);
    margin-left: 3rem;
  }

  .crew-page-header {
    color: black;
  }

  .crew-page-section {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .crew-page-subheader {
    display: flex;
    width: fit-content;
    height: 3.5rem;
    border: black solid 5px;
    border-left: unset;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    align-items: center;
    font-size: 1.75vw;
    padding: 1.75rem 3rem 1.75rem 1.75rem;
    color: Black;
    background: linear-gradient(to right, #adcaff, #1dbfff);
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.555);
  }

  .crew-page-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0.75rem;
  }

  .crew-page-content-description {
    font-size: 1vw;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    color: black;
  }

  .crew-page-moments-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding-top: 1rem;
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    .submit-button {
      width: fit-content;
      min-width: 25%;
      font-size: 4vw;
      margin-left: 1.5rem;
    }

    .crew-page-subheader {
      font-size: 4vw;
      padding: 1.75rem 3rem 1.75rem 1.75rem;
    }

    .crew-page-moments-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      padding-top: 1rem;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    .submit-button {
      width: fit-content;
      min-width: 25%;
      font-size: 4vw;
      margin-left: 1.5rem;
    }

    .crew-page-subheader {
      font-size: 4vw;
      padding: 1.75rem 3rem 1.75rem 1.75rem;
    }

    .crew-page-moments-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      padding-top: 1rem;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .submit-button {
      width: fit-content;
      min-width: 25%;
      font-size: 4vw;
      margin-left: 1.5rem;
    }

    .crew-page-subheader {
      font-size: 4vw;
      padding: 1.75rem 3rem 1.75rem 1.75rem;
    }

    .crew-page-moments-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding-top: 1rem;
    }
  }

  @media all and (max-width: 480px) {
    .submit-button {
      width: fit-content;
      min-width: 25%;
      font-size: 4vw;
      margin-left: 1.5rem;
    }

    .crew-page-subheader {
      font-size: 4vw;
      padding: 1.75rem 3rem 1.75rem 1.75rem;
    }

    .crew-page-moments-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding-top: 1rem;
    }
  }
}
