#SubmitModal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: start;
  padding-top: 10rem;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);

  .submit-modal-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    background-color: white;
    padding: 1rem 2rem;
    gap: 1.25rem;
  }

  .submit-modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .submit-modal-form-input {
    display: flex;
    flex-direction: column;
  }

  .submit-modal-title {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    align-self: center;
  }

  .submit-modal-submit-button {
    border: 1px black solid;
    border-radius: 10px;
    font-weight: 600;
    font-family: monospace;
    color: white;
    background-color: #4294ff;
    width: 90%;
    height: 20%;
    align-self: center;
    text-transform: uppercase;
    font-size: 24px;

    &:disabled {
      background-color: rgb(173, 173, 173);
    }
  }

  .submit-modal-submit-button {
    border: 1px black solid;
    border-radius: 10px;
    font-weight: 600;
    font-family: monospace;
    color: white;
    width: 90%;
    height: 20%;
    align-self: center;
    text-transform: uppercase;
    font-size: 24px;
  }

  @media all and (min-width: 480px) and (max-width: 1280px) {
    .submit-modal-container {
      width: 80%;
      height: 80%;
    }
  }

  @media all and (max-width: 480px) {
    padding-top: 2rem;

    .submit-modal-container {
      width: 100%;
      height: 80%;
    }
  }
}
