.header {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  column-gap: 100px;
  align-content: center;
  justify-items: center;
  background: rgb(171, 60, 173);
  background: radial-gradient(
    circle,
    rgba(171, 60, 173, 1) 0%,
    rgba(112, 26, 187, 1) 50%,
    rgba(33, 5, 48, 1) 100%
  );
  border-bottom: 5px solid rgb(0, 0, 0);
}

.button-round {
  background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-round:hover {
  background-color: #65b9e6;
}

.button-round:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
