.header-container {
  border-bottom: 5px solid rgb(0, 0, 0);
}

.purple {
  height: 11vh;

  background: radial-gradient(
    circle,
    rgba(171, 60, 173, 1) 30%,
    rgba(112, 26, 187, 1) 95%,
    rgb(71, 19, 99, 1) 101%
  );
}

.blue {
  height: 2%;
  background: radial-gradient(
    circle,
    rgb(66, 148, 255) 20%,
    rgb(102, 168, 255) 50%
  );
}

.site-logo {
  height: 100%;
  transform: rotate(-2deg);
  padding-left: 1rem;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  padding-right: 25%;
}
.right-header {
  display: flex;
  height: 60%;
  width: 32%;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  flex-shrink: 1;
}

.header-item {
  height: 100%;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    justify-content: space-between;
    padding-right: unset;
  }

  .site-logo {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    justify-content: start;
    padding-right: unset;
  }

  .site-logo {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .header {
    justify-content: start;
    flex-shrink: 1;
    padding-right: unset;
  }

  .site-logo {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .header {
    justify-content: start;
    padding-right: unset;
    padding-left: 1rem;
  }

  .site-logo {
    display: none;
  }

  .right-header {
    display: flex;
    height: 60%;
    width: 1rem;
    gap: 1.75rem;
    flex-shrink: 1;
  }
}
