#GamePage{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    overflow:auto;
    background: radial-gradient(circle,
      rgba(168, 97, 116) 0%,
      rgba(121,103,185, 1) 100%,
    );
    align-items: center;

    .helper-text{
        color:red;
        font-size: 20px;
    }

    .blockbar{
        display: flex;
        position: absolute;
        margin-top:2rem;
        width:50rem;
        height:2rem;
        background-color: rgb(255, 255, 255);
        z-index: 1000;
        align-items: center;
        outline: 2px solid black;
        border-radius: 5px;
        padding:.25rem;
    }

    .episode-input{
        display: block;
        width:50%;
        margin-bottom:1rem;
        background-color: white;
    }

    .options{        
        display: flex;
        width:50%;
        background-color: white;
        color:black;
        cursor: pointer;
        &:hover{
            background-color: yellow;
        }
    }

    .video-container{
        display: flex;
        padding-bottom:1rem;
    }

    .try-again{
        display: flex;
        position: absolute;
        height:400px;
        width: 750px;
        justify-content: center;
        align-items: center;
        color: red;
        z-index: 100;
        animation: 2s ease-in-out 1 try-again-anim;
        transform: scale(0) rotate(-8deg);

        @keyframes try-again-anim{
            0%{
                color: transparent;
                transform: scale(0) rotate(-8deg);
            }

            40%{
                color: red;
                transform: scale(1) rotate(8deg);
            }

            60%{
                color: red;
                transform: scale(1) rotate(8deg);
            }

            100%{
                color: transparent;
                transform: scale(0) rotate(-8deg);
            }
        }
    }

    .try-again-bg{
        display: flex;
        padding:1rem 8rem;
        border-radius: 5rem;
        font-size: 48px;
        height:fit-content;
        width: fit-content;
        background-color: rgb(48, 48, 48);
    }

    .start-game{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
        font-size: 24px;
        width:10rem;
        height: 4rem;
    }

    .wrong-answer{
        animation: 2s ease 1 wrong-answer;

        @keyframes wrong-answer{
            from {background-color: red;}
            to {background-color: white;}
        }
    }
}