.card-container {
  display: flex;
  background-color: black;
}
.soundbite-award {
  display: flex;
  position: absolute;
  justify-content: end;
  align-items: end;
  right: 0;
  width: 15%;
  height: 10%;
  z-index: 1;
}

.person-name{
  display:flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width:fit-content;
  padding: 2px 20px 2px 20px;
  font-style: italic;
  right:0;
  margin-top:10px;
  border-radius:5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.452);
  color:white;
  backdrop-filter: blur(0.5vw);
  z-index: 1;
}

.card {
  display: flex;
  width: 15rem;
  height: 15rem;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  -webkit-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
  box-shadow: 17px 17px 19px -8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: unset!important;
  background-color: unset!important;
  z-index: 0;
}

.card-image:hover {
  transform: scale(125%) rotate(-5deg);
  transition: 0.2s;
}

.card-image:not(:hover) {
  transition: 0.2s;
}

.soundbite-card-title-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.soundbite-card-footer {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  min-width: 100%;
  min-height: 25%;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(0.5vw);
}

.soundbite-footer-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding-right: 0.25rem;
}

.soundbite-card-title {
  display: flex;
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items:center;
}
.soundbite-download-button-container {
  width: 10%;
}
.soundbite-download-button {
  display: flex;
  width: 100%;
  right: 0;
}

.soundbite-link {
  font-size: 0.8vw;
  color: white;
  width: 90%;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 1.1vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 1vw;
  }
  .soundbite-card-footer {
    padding: 1.5%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 1.25vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 1.1vw;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 1.75vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 1.5vw;
  }
}

@media all and (max-width: 530px) {
  .card {
    width: 10rem;
    height: 10rem;
  }

  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 2.5vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 2.5vw;
  }
}
