.soundbite-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 15%);
  gap: 1rem;
  justify-content: center;
  padding-top: 1.5rem;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .soundbite-grid {
    grid-template-columns: repeat(auto-fill, 18%);
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .soundbite-grid {
    grid-template-columns: repeat(auto-fill, 23%);
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .soundbite-grid {
    grid-template-columns: repeat(auto-fill, 22%);
  }
}

@media all and (max-width: 480px) {
  .soundbite-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
