.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 15%);
  gap: 1%;
  justify-content: center;
  padding-top: 1.5rem;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 18%);
    justify-content: center;
    padding-top: 1.5rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 23%);
    justify-content: center;
    padding-top: 1.5rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 22%);
    justify-content: center;
    padding-top: 1.5rem;
  }
}

@media all and (max-width: 480px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 45%);
    gap: 1rem;
    justify-content: center;
    padding-top: 1.5rem;
  }
}
