.card {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  -webkit-box-shadow: 19px 19px 12px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 19px 19px 12px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 19px 19px 12px -10px rgba(0, 0, 0, 0.38);
  cursor: pointer;
}

.card-image:hover {
  transform: scale(125%) rotate(-5deg);
  transition: 0.2s;
}

.card-image:not(:hover) {
  transition: 0.2s;
}

.soundbite-card-title-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.soundbite-card-footer {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  width: 101%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(0.5vw);
}

.soundbite-card-title {
  color: white;
  display: flex;
  font-size: 1vw;
}

.soundbite-link {
  display: flex;
  font-size: 1vw;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 1.25vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 1.25vw;
  }
  .soundbite-card-footer {
    padding: 1.5%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 1.5vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 1.25vw;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 2.25vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 2vw;
  }
}

@media all and (max-width: 480px) {
  .soundbite-card-title {
    color: white;
    display: flex;
    font-size: 2.75vw;
  }
  .soundbite-link {
    display: flex;
    font-size: 2.75vw;
  }
}
