#soundbite-grid-container {
  .soundbite-grid {
    display: flex;
    padding-top: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
