body {
  background-color: transparent !important;
  background: rgb(224, 88, 227);
  background: radial-gradient(
    circle,
    rgba(224, 88, 227, 1) 0%,
    rgba(145, 59, 221, 1) 50%,
    rgba(70, 19, 97, 1) 100%
  );
}
