body {
  background-color: transparent !important;
  background: rgb(224, 88, 227);
  background: radial-gradient(
    circle,
    rgba(224, 88, 227, 1) 0%,
    rgba(145, 59, 221, 1) 50%,
    rgba(70, 19, 97, 1) 100%
  );
}

.grid-col-span-2 {
  grid-column: span 2;
}

.soundbite-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin-left: 5px;
}

.navigation-grid {
  display: grid;
  grid-template-columns: 10% 10%;
  gap: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
