#Homepage{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    overflow:auto;
    background: radial-gradient(circle,
      rgba(168, 97, 116) 0%,
      rgba(121,103,185, 1) 100%,
    );

    .subheader{
        display: flex;
        position: sticky;
        top:0;
        height:2.5rem;
        gap:10px;
        padding: 0px 40px 0px 25px;
        background-color: transparent;
        z-index:11;
    }
    
    .subheader-button{
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items:center;
        border:1px solid black;
        border-radius: 0px 0px 10px 10px;
        color: rgb(39, 39, 39);
        font-family: Raleway, sans-serif;
        font-weight: 600;
        background-color: rgba(219, 219, 219, 0.651);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        z-index: 15;
    }

    .submit-button-container{
        display: flex;
        position: absolute;
        padding-top: 4rem;
        padding-left: 2rem;
    }

    .submit-button {
        width: fit-content;
        width:10rem;
        height:3rem;
        background-color: rgb(83, 83, 83);
        color: white;
        font-size: 16px;
        font-weight: 600;
        transform: rotate(-2deg);
      }

    .selected{
        background-color: rgba(255, 251, 0, 0.753);
    }

    .embedded-video{
        display:flex;
        border: 20px solid red;
    }

    .page-container{
        display: flex;
        flex-grow: 1;
        overflow: auto;
    }

    .video-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .video{
        display: flex;
        position: fixed;
    }

    .topics-container{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width:55vw;
    }

    .topics-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        border-bottom: 3px solid rgb(36, 36, 36);
        margin-left: 100px;
        margin-right: 100px
    }

    .topics{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height:10px;
    }

    @media all and (min-width: 0px) and (max-width: 1280px) {
        .video-container{
            display: none;
        }

        .topics-container{
            flex-grow: 1;
        }
    }
}